h2{
    text-align: center;
}

div.input_list{
    margin: auto;
}

form{
    text-align: center;
}

textarea{
    font-size: 2vw;
    width: 40vw;
    height: 40vh;
}

body{
    background-color: skyblue;
}

div.subcan{
    text-align: center;
}

button{
    margin: 30px;
}